*{
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.banner{
	background: url(../img/background.jpg) no-repeat center top / cover ;
}
.container{
	max-width: 1200px;
	margin: 0 auto;
}
.nav{
	display: flex;
	color: #fff;
	padding-top: 30px;
	justify-content: space-between;
}
.nav p {
	font-size: 30px;
}
.nav ul {
	display: flex;
	text-decoration: none;
}
.nav li {
	list-style-type: none;
	margin-right: 60px;
	text-transform: uppercase;
	
}

.nav li:last-child{
	margin-right: 0px;
}

.nav__link{
	text-decoration: none;
	font-size: 14px;
	color: #fff;
	transform: all 0.2s ease ;
}
.nav__link:hover{
	color: #fce38a;
}
.nav__link:hover:after {
	content: "";
	display: block;
    width: 100%;
    height: 3px;
	background-color: #fce38a;
    transition: width 0.5s;
	
}
.nav__icon{
	width: 18px;
	fill: white;
}
.welcome{
	margin-top: 170px;
}
.welcome h2{
	color: white;
	font-size: 72px;
	font-family: 'Kaushan Script', cursive;
	text-align: center;
}
.welcome h1{
	font-weight: bold;
	color: white;
	font-size: 72px;
	text-transform: uppercase;
	max-width: 900px;
	margin: 0 auto;
	font-size: 150px;
	text-align: center;
	padding-bottom: 30px;
}
.welcome h1:after {
	content: "";
	display: block;
	margin: 0 auto;
    width: 10%;
    height: 3px;
	background-color: white;
}
.btn{
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
	color: white;
	font-size: 14px;
	text-align: center;
	
}
.btn p{
	display: table;
	margin: 0 auto;
	padding: 10px 30px;
	border: 3px solid #fff;
}
.btn p:hover{
	color: #fce38a;
	background-color: #fff;
	text-shadow: 1px 1px 2px #ec8056, 
	0 0 1em #75d8ff, 
	0 0 2em #8563ff;
}
.title{
	padding-top: 160px;
    display: flex;
	justify-content: space-between;

}
.title__column{
    display: flex;
	color: white;
	width: 280px;
	position: relative;
	margin-bottom: 30px;
	transition: 1s;
}
.title__column a {
	text-decoration: none;
	color: #fff;
}
.title__column::after{
    content: '';
	display: block;
    width: 100%;
    height: 3px;
	background-color: #f6eac5;
	position: absolute;
	top: -30px;
	right: 0;
}
.title__column:hover::before{
    content: '';
	display: block;
    width: 100%;
    height: 3px;
	background-color: #f38181;
	position: absolute;
	top: -30px;
	right: 0;
}
.title__column:hover::after{
    content: '';
	display: block;
    width: 70%;
    height: 3px;
	background-color: white;
	position: absolute;
	top: -30px;
	right: 0;
}
.title__column h4{
    display: flex;
	font-size: 24px;
	margin-right: 10px;
}
.title__column p{
   text-transform: uppercase;
   font-size: 18px;
   align-self: flex-end;
}

/* ABOUT US */

.oblique-heading{
	font-family: 'Kaushan Script', cursive;
	margin-bottom: 25px;
	text-align: center;
	font-size: 20px;
	margin-top: 80px;
}
.direct-heading{
	font-weight: bold;
	margin-bottom: 25px;
	text-align: center;
	font-size: 30px;
	text-transform: uppercase;
}
.direct-heading::after{
	content: "";
	display: block;
	margin: 0 auto;
	width: 60px;
	padding-top: 40px;
	border-bottom: 2px solid #f38181;
}
.p-heading{
	margin: 0 auto;
	color: #949494;
	text-align: center;
	max-width: 940px;
	font-size: 15px;
	margin-bottom: 100px;
}


.gallery{
	display: flex;
	justify-content: space-between;
	margin-bottom: 110px;
	
}
.gallary__img{
	background: linear-gradient(to bottom, #f38181,#fce38a);
	width: 380px;
	transition:  .2s linear;
	position: relative;
}
.gallary__img:hover{
	transform: translate3d(-10px, -10px, 0);
}
.gallary__img:hover .gallary__item{
    opacity: 0.5;
}

.gallary__img:hover .img__text{
	opacity: 1;
	
}
.gallary__item{
	display: block;
}
.gallary__item:hover{
	opacity: 0.1;
}
.gallary__bg{
	background: #95e1d3;
}
.img__text{
    width: 100%;
    font-size: 18px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    opacity: 0;

    position: absolute;
    top: 50%;
    left: 0;
    z-index: 2;
    transform: translate3d(0, -50%, 0);

    transition: opacity .2s linear;
}

/* Achievements */
.achiev-bg{
	background-color: #95e1d3;
}
.achievements{
	display: flex;
	justify-content: space-between;
	color: white;
}
.achievements__items{
	height: 270px;
	flex: 1 1 0;
	border: solid #b5eae0 1px;
}
.achievements__number{
	text-align: center;
	padding-top: 90px;	
	font-size: 72px;
	font-weight: bold;
}
.achievements__desc{
	text-align: center;
	font-size: 14px;
}

/* Work */
.work__advantage{
	display: flex;
	flex-wrap: wrap;
}
.work__items{
	width: 33%;
	height: ;
	display: flex;
	padding: 50px 0 50px 0;
}
.work__img{
	height: 31px;
	padding-right: 30px;
}
.work__item_text h5{
	font-size: 14px;
	font-weight: normal;
	margin-bottom: 20px;
	text-transform: uppercase;
}
.work__item_text p{
	color: #999;
	font-size: 14px;
	max-width: 270px;
}